
### NASA/POWER CERES/MERRA2 Native Resolution Daily Data

- **Dates**: 01/01/2024 through 10/20/2024
- **Location**: Latitude 10.0683, Longitude 76.6207
- **Elevation from MERRA-2**: Average for 0.5 x 0.625 degree lat/lon region = 711.18 meters
- **Missing Data Value**: The value for missing source data that cannot be computed or is outside of the sources' availability range: **-999**

### Parameter(s):

- **ALLSKY_SFC_UV_INDEX**: CERES SYN1deg All Sky Surface UV Index (dimensionless)
- **WS10M**: MERRA-2 Wind Speed at 10 Meters (m/s)
- **T2M_MAX**: MERRA-2 Temperature at 2 Meters Maximum (°C)
- **T2M_MIN**: MERRA-2 Temperature at 2 Meters Minimum (°C)
- **PRECTOTCORR**: MERRA-2 Precipitation Corrected (mm/day)
- **QV2M**: MERRA-2 Specific Humidity at 2 Meters (g/kg)
- **RH2M**: MERRA-2 Relative Humidity at 2 Meters (%)
- **PS**: MERRA-2 Surface Pressure (kPa)
- **WD10M**: MERRA-2 Wind Direction at 10 Meters (Degrees)
- **ALLSKY_SFC_SW_DWN**: CERES SYN1deg All Sky Surface Shortwave Downward Irradiance (kW-hr/m²/day)
- **CLRSKY_SFC_SW_DWN**: CERES SYN1deg Clear Sky Surface Shortwave Downward Irradiance (kW-hr/m²/day)
- **WS2M**: MERRA-2 Wind Speed at 2 Meters (m/s)
- **T2MDEW**: MERRA-2 Dew/Frost Point at 2 Meters (°C)
- **PSC**: MERRA-2 Corrected Atmospheric Pressure (Adjusted For Site Elevation) (kPa)
- **WSC**: MERRA-2 Corrected Wind Speed (Adjusted For Elevation) (m/s)

In [83]:
# import necessary libraries

import pandas as pd

In [84]:
# import data
data = pd.read_csv('weather_4.csv')
data.head(5)

,YEAR,MO,DY,ALLSKY_SFC_UV_INDEX,WS10M,T2M_MAX,T2M_MIN,PRECTOTCORR,QV2M,RH2M,PS,WD10M,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,WS2M,T2MDEW,PSC,WSC
0,2024,1,1,1.91,0.84,27.26,18.05,0.00,14.83,84.56,93.43,121.88,4.05,5.20,0.20,19.01,101.39,0.95
1,2024,1,2,1.76,1.04,26.00,19.01,1.66,15.20,85.81,93.37,78.62,4.50,4.79,0.23,19.39,101.32,1.16
2,2024,1,3,1.85,0.83,26.53,18.73,2.36,15.50,87.19,93.33,148.88,3.77,5.28,0.22,19.73,101.27,0.87
3,2024,1,4,2.00,0.69,25.66,19.66,9.41,16.36,90.56,93.33,148.69,3.96,5.44,0.20,20.61,101.27,0.77
4,2024,1,5,1.81,0.81,26.27,20.23,8.47,16.66,90.06,93.28,121.56,3.52,5.33,0.27,20.92,101.21,0.86

In [85]:
data['MO'].dtype

dtype('int64')

In [86]:
def determine_climate(row):
    if row['PRECTOTCORR'] > 5:
        return 'Rainy'
    elif row['RH2M'] > 80:
        return 'Humid'
    elif row['T2M_MAX'] > 30:
        return 'Hot'
    elif row['T2M_MIN'] < 10:
        return 'Cold'
    else:
        return 'Mild'

# Apply the function to create a new column for climate conditions
data['Climate_Condition'] = data.apply(determine_climate, axis=1)
data.head(5)

,YEAR,MO,DY,ALLSKY_SFC_UV_INDEX,WS10M,T2M_MAX,T2M_MIN,PRECTOTCORR,QV2M,RH2M,PS,WD10M,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,WS2M,T2MDEW,PSC,WSC,Climate_Condition
0,2024,1,1,1.91,0.84,27.26,18.05,0.00,14.83,84.56,93.43,121.88,4.05,5.20,0.20,19.01,101.39,0.95,Humid
1,2024,1,2,1.76,1.04,26.00,19.01,1.66,15.20,85.81,93.37,78.62,4.50,4.79,0.23,19.39,101.32,1.16,Humid
2,2024,1,3,1.85,0.83,26.53,18.73,2.36,15.50,87.19,93.33,148.88,3.77,5.28,0.22,19.73,101.27,0.87,Humid
3,2024,1,4,2.00,0.69,25.66,19.66,9.41,16.36,90.56,93.33,148.69,3.96,5.44,0.20,20.61,101.27,0.77,Rainy
4,2024,1,5,1.81,0.81,26.27,20.23,8.47,16.66,90.06,93.28,121.56,3.52,5.33,0.27,20.92,101.21,0.86,Rainy

In [87]:
import numpy as np
data.replace(-999, np.nan, inplace=True)
data_interpolated = data.interpolate(method='linear', limit_direction='both')

# Display modified DataFrame
print("\nDataFrame after interpolation:")
print(data_interpolated)
print(data.head(5))

DataFrame after interpolation:
     YEAR  MO  DY  ALLSKY_SFC_UV_INDEX  WS10M  T2M_MAX  T2M_MIN  PRECTOTCORR  \
0    2024   1   1                 1.91   0.84    27.26    18.05         0.00
1    2024   1   2                 1.76   1.04    26.00    19.01         1.66
2    2024   1   3                 1.85   0.83    26.53    18.73         2.36
3    2024   1   4                 2.00   0.69    25.66    19.66         9.41
4    2024   1   5                 1.81   0.81    26.27    20.23         8.47
..    ...  ..  ..                  ...    ...      ...      ...          ...
289  2024  10  16                 1.23   1.35    25.25    19.17         2.50
290  2024  10  17                 1.23   1.42    25.81    20.49         3.19
291  2024  10  18                 1.23   1.42    25.81    20.49         3.19
292  2024  10  19                 1.23   1.42    25.81    20.49         3.19
293  2024  10  20                 1.23   1.42    25.81    20.49         3.19

      QV2M   RH2M     PS   WD10M  ALLSKY_SFC_SW_DWN  CLRSKY_SFC_SW_DWN  WS2M  \
0    14.83  84.56  93.43  121.88               4.05               5.20  0.20
1    15.20  85.81  93.37   78.62               4.50               4.79  0.23
2    15.50  87.19  93.33  148.88               3.77               5.28  0.22
3    16.36  90.56  93.33  148.69               3.96               5.44  0.20
4    16.66  90.06  93.28  121.56               3.52               5.33  0.27
..     ...    ...    ...     ...                ...                ...   ...
289  15.93  90.88  93.14  278.38               3.72               6.73  0.33
290  16.85  90.94  93.12  261.31               3.72               6.73  0.32
291  16.85  90.94  93.12  261.31               3.72               6.73  0.32
292  16.85  90.94  93.12  261.31               3.72               6.73  0.32
293  16.85  90.94  93.12  261.31               3.72               6.73  0.32

     T2MDEW     PSC   WSC Climate_Condition
0     19.01  101.39  0.95             Humid
1     19.39  101.32  1.16             Humid
2     19.73  101.27  0.87             Humid
3     20.61  101.27  0.77             Rainy
4     20.92  101.21  0.86             Rainy
..      ...     ...   ...               ...
289   20.16  101.07  1.52             Humid
290   21.07  101.03  1.60             Humid
291   21.07  101.03  1.60              Cold
292   21.07  101.03  1.60              Cold
293   21.07  101.03  1.60              Cold

[294 rows x 19 columns]
   YEAR  MO  DY  ALLSKY_SFC_UV_INDEX  WS10M  T2M_MAX  T2M_MIN  PRECTOTCORR  \
0  2024   1   1                 1.91   0.84    27.26    18.05         0.00
1  2024   1   2                 1.76   1.04    26.00    19.01         1.66
2  2024   1   3                 1.85   0.83    26.53    18.73         2.36
3  2024   1   4                 2.00   0.69    25.66    19.66         9.41
4  2024   1   5                 1.81   0.81    26.27    20.23         8.47

    QV2M   RH2M     PS   WD10M  ALLSKY_SFC_SW_DWN  CLRSKY_SFC_SW_DWN  WS2M  \
0  14.83  84.56  93.43  121.88               4.05               5.20  0.20
1  15.20  85.81  93.37   78.62               4.50               4.79  0.23
2  15.50  87.19  93.33  148.88               3.77               5.28  0.22
3  16.36  90.56  93.33  148.69               3.96               5.44  0.20
4  16.66  90.06  93.28  121.56               3.52               5.33  0.27

   T2MDEW     PSC   WSC Climate_Condition
0   19.01  101.39  0.95             Humid
1   19.39  101.32  1.16             Humid
2   19.73  101.27  0.87             Humid
3   20.61  101.27  0.77             Rainy
4   20.92  101.21  0.86             Rainy

C:\Users\sarang\AppData\Local\Temp\ipykernel_20224\265319639.py:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data_interpolated = data.interpolate(method='linear', limit_direction='both')

In [88]:
data.head(5)

,YEAR,MO,DY,ALLSKY_SFC_UV_INDEX,WS10M,T2M_MAX,T2M_MIN,PRECTOTCORR,QV2M,RH2M,PS,WD10M,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,WS2M,T2MDEW,PSC,WSC,Climate_Condition
0,2024,1,1,1.91,0.84,27.26,18.05,0.00,14.83,84.56,93.43,121.88,4.05,5.20,0.20,19.01,101.39,0.95,Humid
1,2024,1,2,1.76,1.04,26.00,19.01,1.66,15.20,85.81,93.37,78.62,4.50,4.79,0.23,19.39,101.32,1.16,Humid
2,2024,1,3,1.85,0.83,26.53,18.73,2.36,15.50,87.19,93.33,148.88,3.77,5.28,0.22,19.73,101.27,0.87,Humid
3,2024,1,4,2.00,0.69,25.66,19.66,9.41,16.36,90.56,93.33,148.69,3.96,5.44,0.20,20.61,101.27,0.77,Rainy
4,2024,1,5,1.81,0.81,26.27,20.23,8.47,16.66,90.06,93.28,121.56,3.52,5.33,0.27,20.92,101.21,0.86,Rainy

In [89]:
data_interpolated.to_csv('modified_data.csv', index=False)